<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>Hello,</p>
  <p>Welcome to Root Solutions! We have created your email with the following details: </p>
  <p>Email: <%= @user.email %> </p>
  <p>Password: password</p>
  <p>Please click <%= link_to "here", @url, target: "_blank" %> to update your password. </p>
  <p>Thank You,</p>
  <p>Root Solutions Team</p>
  </body>
</html>