<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <p>Name: <%= @name %></p>
      <p>Email: <%= @user %></p>
      <p>Subject: <%=@subject%> </p>
      <p>Message: <%= @message %></p>
    </p>
  </body>
</html>