<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @world_region.name %>
</p>

<%= link_to 'Edit', edit_world_region_path(@world_region) %> |
<%= link_to 'Back', world_regions_path %>
