<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @environmental_tag.name %>
</p>

<%= link_to 'Edit', edit_environmental_tag_path(@environmental_tag) %> |
<%= link_to 'Back', environmental_tags_path %>
