<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cognitive_bium.name %>
</p>

<%= link_to 'Edit', edit_cognitive_bium_path(@cognitive_bium) %> |
<%= link_to 'Back', cognitive_bia_path %>
