<h1>Editing Environmental Subtag</h1>

<%= render 'form', environmental_subtag: @environmental_subtag %>

<%= link_to 'Show', @environmental_subtag %> |
<%= link_to 'Back', environmental_subtags_path %>
