<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @environmental_subtag.name %>
</p>

<%= link_to 'Edit', edit_environmental_subtag_path(@environmental_subtag) %> |
<%= link_to 'Back', environmental_subtags_path %>
