<h1>Editing Building Block Substep</h1>

<%= render 'form', building_block_substep: @building_block_substep %>

<%= link_to 'Show', @building_block_substep %> |
<%= link_to 'Back', building_block_substeps_path %>
