<div class="home-page-body">
  <div id="home-parallax"> 
    <div class="heading-title">
      <h2 class="title">
        ROOT SOLUTIONS
      </h2>
      <div id="main-logo">
        <%= image_tag("root-logo.png") %>
      </div>
    </div> <!-- heading-title -->
  </div> <!-- home-parallax -->
  <div id="home-chevron" class="backgroundcolor"></div> <!-- home-chevron -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="home-wrap">
          <h2 class="home-description">
            Partnering with change-makers to bridge the gap between environmental awareness & action.
          </h2>
          <h3 class="home-description-1">
            "Now more than ever, we cannot rely on federal support for environmental progress. The science of behavior change has become even more relevant to thriving human and natural communities."
          </h3>
        </div> <!-- home-wrap -->
      </div> <!-- col-md-10 -->
    </div> <!-- row -->
  </div> <!-- container-fluid -->
  <div id="home-parallax-1" class="heading-title">
    <h2 class="other-titles">
      WHAT WE DO
    </h2>
  </div> <!-- home-parallax-1 -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="home-wrap">
          <blockquote class="home-description-2">
            We leverage the science of human decision-making to build a world in which behavior is in harmony, rather than in conflict with the processes that allow all life to thrive. We work with environmental leaders increase the impact of environmental initiatives.
          </blockquote>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="home-glyphicon-wrap">
        <div class="col-md-2">
          <a href="/work_with_us" class="home-links-icons" target="_blank"><i class="fa fa-handshake-o" aria-hidden="true"></i>
            <p class="home-what-we-do-heading home-links">CONSULTING SERVICES</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="/projects" class="home-links-icons" target="_blank"><i class="fa fa-leanpub" aria-hidden="true"></i>
            <p class="home-what-we-do-heading home-links">PROJECTS</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="/work_with_us#parallax-3" class="home-links-icons" target="_blank"><i class="fa fa-level-up" aria-hidden="true"></i>
            <p class="home-what-we-do-heading home-links">TRAINING</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="/learn/behavior_design" class="home-links-icons" target="_blank"><i class="fa fa-pie-chart" aria-hidden="true"></i>
            <p class="home-what-we-do-heading home-links">BEHAVIOR DESIGN</p>
          </a>
        </div>
        <div class="col-md-2">
          <a href="/learn/why_behavior" class="home-links-icons" target="_blank"><i class="fa fa-universal-access" aria-hidden="true"></i>
            <p class="home-what-we-do-heading home-links">WHY BEHAVIOR</p>
          </a>
        </div>
      </div>
    </div> <!-- row -->
    <div class="home-what-we-do-wrap">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <p class="home-what-we-do-description">
            Helping clients and partners develop more effective environmental programs.
          </p>
        </div>
        <div class="col-md-2">
          <p class="home-what-we-do-description">
            View our current and past projects.
          </p>
        </div>
        <div class="col-md-2">
          <p class="home-what-we-do-description">
            Providing practical skills to maximize their impact, based on our unique, comprehensive behavior design framework.
          </p>
        </div>
        <div class="col-md-2">
          <p class="home-what-we-do-description">
            The heart of the process each made up of time tested behavioral interventions.
          </p>
        </div>
        <div class="col-md-2">
          <p class="home-what-we-do-description">
            Unraveling what drives human beliefs, attitudes and actions...
          </p>
        </div>
      </div> <!-- row -->
    </div> <!-- home-what-we-do-wrap -->
  </div> <!-- container-fluid -->
  <div id="home-parallax-2" class="heading-title">
    <h2 class="other-titles">WHO WE ARE</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="home-wrap">
          <blockquote class="home-who-we-are">
            We are a team of a team of visionaries, creators, and disruptors who want to re-shape the future of the environmental movement in North America and beyond.
          </blockquote>
        </div> <!-- home-wrap -->
      </div> <!-- col-md-10 -->
    </div> <!-- row -->
    <div class="row">
      <div class="col-md-3"></div>
      <div class="home-glyphicon-wrap">
        <div class="col-md-2">
          <a href="/team" class="home-links-icons" target="_blank"><i class="fa fa-id-badge" aria-hidden="true"></i>
            <h2 class="home-what-we-do-heading home-links">TEAM</h2>
          </a>
        </div>
        <div class="col-md-2">
          <a href="/partners#partners-parallax" class="home-links-icons" target="_blank"><i class="fa fa-university" aria-hidden="true"></i>
            <h2 class="home-what-we-do-heading home-links">PARTNERS</h2>
          </a>
        </div>
        <div class="col-md-2">
          <a href="/careers" class="home-links-icons" target="_blank"><i class="fa fa-key" aria-hidden="true"></i>
            <h2 class="home-what-we-do-heading home-links">CAREERS</h2>
          </a>
        </div>
      </div> <!-- home-glyphicon-wrap -->
    </div> <!-- row -->
  </div> <!-- container-fluid -->
</div> <!-- home-page-body -->