<div id="parallax-1"> 
  <nav class="navbar navbar-light bg-faded Liams-navbar">
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline float-xs-right">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </nav> <!-- first parallax in shape of chevron navbar/about us-->
  <div class="heading-title">
    <h2>
      ROOT SOLUTIONS
    </h2>
  </div>
</div>
<div class= "white-space chevron">
    <p>
      Acts as a thought leader, consultant and trainer, helping to build a world in which behavior is in harmony, rather than in conflict, with the processes that support thriving human and natural communities.
    </p>


 <!-- first content section what we d0 -->
<!--   <h2>
  What We Do
  </h2>
  <p>
  We are thought leaders on how humans process information and make environmental decisions. Our  mission is to promote the widespread use of  this knowledge to increase the efficacy of environmental initiatives.
  </p>
  <p>
  We provide consulting services, helping clients and partners develop more effective environmental programs.
  </p>
  <p>
    ➔ See a list of our services
  </p>
  <p>
    We teach environmental practitioners practical skills to maximize their impact, based on our unique, comprehensive behavior design framework
  </p>
  <p>
    ➔ Learn more about our trainings
  </p>
  <p>
    We provide free tools and services on environmentally focused behavioral research  behavioral best practices.
  </p>
  <p>
    ➔ Peruse our Behavioral Building Blocks and our resource center
  </p> -->

</div>
<div id="parallax-2" class="heading-title">
    <h2>What We Do</h2>
</div>
  <div class="white-space"> 
    
  <p>
  We are thought leaders on how humans process information and make environmental decisions. Our  mission is to promote the widespread use of  this knowledge to increase the efficacy of environmental initiatives.
  </p>
  <p>
  We provide consulting services, helping clients and partners develop more effective environmental programs.
  </p>
  <p>
    ➔ See a list of our services
  </p>
  <p>
    We teach environmental practitioners practical skills to maximize their impact, based on our unique, comprehensive behavior design framework
  </p>
  <p>
    ➔ Learn more about our trainings
  </p>
  <p>
    We provide free tools and services on environmentally focused behavioral research  behavioral best practices.
  </p>
  <p>
    ➔ Peruse our Behavioral Building Blocks and our resource center
  </p>
    <!-- <h2>
    Who We Are
    </h2>
    <p>
    We are a team of visionaries, creators, and disruptors who want to re-shape the future of the environmental movement in North America and beyond.
    </p>
    <p>
    ➔ Meet our staff and contributors
    </p>
    <p>
      ➔ Meet our partners and advisors
    </p>
    <p>
      ➔ Persue our current volunteer opportunities
    </p> -->
  </div>
<div class="white-space-2"> <!-- ditch the current projects and provide contact footer -->
  <div>
    <div class="email-box-container">
      <h4>
        Sign Up For Our News Letter!
      </h4>
    </div>
    <div class="social-media-box">
      <h4>
        Our Social Media Links
      </h4>
    </div>
  </div>
</div>
<div class="contact-information">
  <h4>
    405 14th St, Oakland, CA 94612
  </h4>
</div>  
