<div id="parallax-1"> 
  
  <div class="heading-title">
    <h2>
      ROOT SOLUTIONS
    </h2>
    <div id="main-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>

<div class= "white-space chevron">
    <p>
      When we cannot rely on federal support for environmental progress, the science of decision-making and behavior change become even more relevant to the survival and continued advancement of environmentalism, of nature, and human well-being.
    </p>

    <p>
      At Root Solutions we are thought leaders on how humans process information and make environmental decisions, helping to build a world in which behavior is in harmony, rather than in conflict, with the processes that support thriving human and natural communities. Click here learn more about why behavior matters. 
    </p>
  </div>


<div id="parallax-2" class="heading-title">
    <h2 class="other-titles">What We Do</h2>
</div>
<div class="white-space"> 
  
  <p>
  We provide consulting services, helping clients and partners develop more effective environmental programs. Peruse our projects.
  </p>
  <p>
  We conduct trainings for environmental practitioners practical skills to maximize their impact, based on our unique, comprehensive behavior design framework.
  </p>
  <p>
    We provide free tools and services on environmentally focused behavioral research  behavioral best practices.
  </p>
</div>

<div id="parallax-3" class="heading-title">
  <h2 class="other-titles">Who We Are</h2>
</div>

<div  class="white-space">
  <p>We are a team of a team of visionaries, creators, and disruptors who want to re-shape the future of the environmental movement in North America and beyond.</p>

  <p>Meet our staff and contributors</p>

  <p>Meet our advisors and parters</p>

  <p>Peruse our current opportunities</p>

</div>















