<div class="home-page-body">
  <div id="home-parallax"> 
    <div class="heading-title">
      <h2 class="title">
        ROOT SOLUTIONS
      </h2>
      <div id="main-logo">
        <%= image_tag("root-logo.png") %>
      </div>
    </div> <!-- heading-title -->
  </div> <!-- home-parallax -->
  <div id="home-chevron" class="backgroundcolor"></div> <!-- home-chevron -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="home-wrap">
          <blockquote class="home-description">
            When we cannot rely on federal support for environmental progress, the science of decision-making and behavior change become even more relevant to the survival and continued advancement of environmentalism, of nature, and human well-being.
          </blockquote>
          <h4 class="home-description-1">
            At Root Solutions, we are thought leaders on how humans process information and make environmental decisions, helping to build a world in which behavior is in harmony, rather than in conflict, with the processes that support thriving human and natural communities. Click here learn more about why behavior matters. 
          </h4>
        </div> <!-- home-wrap -->
      </div> <!-- col-md-10 -->
    </div> <!-- row -->
  </div> <!-- container-fluid -->
  <div id="home-parallax-1" class="heading-title">
    <h2 class="other-titles">
      What We Do
    </h2>
  </div> <!-- home-parallax-1 -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="home-wrap">
          <p class="home-what-we-do">
            We provide consulting services, helping clients and partners develop more effective environmental programs. Peruse our projects.
          </p>
          <p class="home-what-we-do-1">
            We conduct trainings for environmental practitioners practical skills to maximize their impact, based on our unique, comprehensive behavior design framework.
          </p>
          <p class="home-what-we-do-2">
            We provide free tools and services on environmentally focused behavioral research  behavioral best practices.
          </p>
        </div> <!-- home-wrap -->
      </div> <!-- col-md-10 -->
    </div> <!-- row -->
  </div> <!-- container-fluid -->
  <div id="home-parallax-2" class="heading-title">
    <h2 class="other-titles">Who We Are</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="home-wrap">
          <p class="home-who-we-are">
            We are a team of a team of visionaries, creators, and disruptors who want to re-shape the future of the environmental movement in North America and beyond.
          </p>
          <p class="home-who-we-are-1">Meet our staff and contributors</p>
          <p class="home-who-we-are-2">Meet our advisors and parters</p>
          <p class="home-who-we-are-3">Peruse our current opportunities</p>
        </div> <!-- home-wrap -->
      </div> <!-- col-md-10 -->
    </div> <!-- row -->
  </div> <!-- container-fluid -->
</div> <!-- home-page-body -->