<div class="parallax-1">  <!-- first parallax in shape of chevron navbar/about us-->
  <div class="about-us-LO">
    <!-- <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="#">Navbar</a>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline float-xs-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </nav> -->
    <h2>
    Root Solutions...
    </h2>
    <p>
      ...acts as a thought leader, consultant and trainer, helping to build a world in which behavior is in harmony, rather than in conflict, with the processes that support thriving human and natural communities.
    </p>
  </div>
</div>
<div class= "white-space-1"> <!-- first content section what we d0 -->
  <h2>What We Do</h2>
  <p>We are thought leaders on how humans process information and make environmental decisions. Our  mission is to promote the widespread use of  this knowledge to increase the efficacy of environmental initiatives.
  </p>
  <p>We provide consulting services, helping clients and partners develop more effective environmental programs.
  </p>
  <p>
    ➔ See a list of our services
  </p>
  <p>
    We teach environmental practitioners practical skills to maximize their impact, based on our unique, comprehensive behavior design framework
  </p>
  <p>
    ➔ Learn more about our trainings
  </p>
  <p>
    We provide free tools and services on environmentally focused behavioral research  behavioral best practices.
  </p>
  <p>
    ➔ Peruse our Behavioral Building Blocks and our resource center
  </p>

</div>
<div class= "parallax-2"> <!-- second parallax Who We Be -->
  
</div>
<div class="white-space-2"> <!-- ditch the current projects and provide contact footer -->
  "Just put some text there" - O'Hoon
</div>
