<div id="donate-parallax"> 
  <div class="heading-title">
    <h2 class="title">
      DONATE
    </h2>
    <div id="sub-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>
<div id="donate-chevron"></div>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class='col-md-10'>
      <h2>Our funders are partners and investors who share our vision of a sustainable future</h2>
      <h3>How You Can Support Root Solutions</h3>
      <p>
        With your financial contribution to Root Solutions, you are taking an active role in creating a sustainable and thriving planet for our future. Here is what your contribution can help us achieve:
      </p>
    </div>
    <div>
      <a href="http://www.trustforconservationinnovation.org/sponsored/project_page.php?pid=62">Donate!</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <button type="button" class="btn btn-primary btn-lg">$25</button>
    </div>
    <div class="col-md-7">
      <p>Supports important research into creating pro-environmental behaviors, habits and values</p>
    </div>
  </div>
</div>