<div id="donate-parallax"> 
  <div class="heading-title">
    <h2 class="title">
      DONATE
    </h2>
    <div id="sub-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>
<div id="donate-chevron"></div>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class='col-md-10'>
      <h2>Our funders are partners and investors who share our vision of a sustainable future</h2>
      <h3>How You Can Support Root Solutions</h3>
      <p>
        With your financial contribution to Root Solutions, you are taking an active role in creating a sustainable and thriving planet for our future. Here is what your contribution can help us achieve:
      </p>
      <div style="text-align: center;">
        <a class="btn" href="http://www.trustforconservationinnovation.org/sponsored/project_page.php?pid=62">Donate!</a>
      </div>
    </div>
  </div>
  <!-- $25 -->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 donate-dollar">
      <h3 style="">$25</h3>
    </div>
    <div class="col-md-7">
      <p>
        Supports important research into creating pro-environmental behaviors, habits and values
      </p>
    </div>
  </div>
  <!-- $50 -->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 donate-dollar">
      <h3 style="">$50</h3>
    </div>
    <div class="col-md-7">
      <p>
        Helps us transform research into effective applications for conservation
      </p>
    </div>
  </div>
  <!-- $100 -->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 donate-dollar">
      <h3 style="">$100</h3>
    </div>
    <div class="col-md-7">
      <p>
        Helps us apply effective interventions to solve real world environmental challenges
      </p>
    </div>
  </div>
  <!-- $250 -->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 donate-dollar">
      <h3 style="">$250</h3>
    </div>
    <div class="col-md-7">
      <p>
        Helps us train one organization on the use of behavioral insights to improve conservation outcomes
      </p>
    </div>
  </div>
  <!-- $1000 -->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-1 donate-dollar">
      <h3 style="">$1000</h3>
    </div>
    <div class="col-md-7">
      <p>
        Helps us develop a regional training workshop to improve the effectiveness of environmental campaigns and strategies
      </p>
    </div>
  </div>
</div>