<div id="donate-parallax"> 
  <div class="heading-title">
    <h2 class="title">
      DONATE
    </h2>
    <div id="sub-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>
<div id="donate-chevron"></div>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class='col-md-10 donate-separator'>
      <h2 class="donate-description">Our funders are partners and investors who share our vision of a sustainable future</h2>
      <br />
      <h3 class="donate-description-1">
        With your financial contribution to Root Solutions, you are taking an active role in creating a sustainable and thriving planet for our future. Here is what your contribution can help us achieve:
      </h3>
      <div style="text-align: center; margin-top: 50px;">
        <a class="btn" id="donate-button" href="http://www.trustforconservationinnovation.org/sponsored/project_page.php?pid=62">Donate!</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <div class="row donate-rows">
        <!-- <div class="col-md-3"></div> -->
        <!-- $25 -->
        <div class="col-md-4 donate-column">
          <div class="donate-gradients">
            <h3 id="donate-dollars">$25</h3>
            <p>Supports important research into creating pro-environmental behaviors, habits and values</p>
          </div>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <!-- $50 -->
        <div class="col-md-4 donate-column">
          <div class="donate-gradients">
            <h3 id="donate-dollars">$50</h3>
            <p>Helps us transform research into effective applications for conservation</p>
          </div>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <!-- $100 -->
        <div class="col-md-4 donate-column">
          <div class="donate-gradients">
            <h3 id="donate-dollars">$100</h3>
            <p>Helps us apply effective interventions to solve real world environmental challenges</p>
          </div>
        </div>
      </div>
      <div class="row donate-rows">
        <!-- <div class="col-md-3"></div> -->
        <!-- $250 -->
        <div class="col-md-4 donate-column">
          <div class="donate-gradients">
            <h3 id="donate-dollars">$250</h3>
            <p>Helps us train one organization on the use of behavioral insights to improve conservation outcomes</p>
          </div>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <!-- $1000 -->
        <div class="col-md-4 donate-column">
          <div class="donate-gradients">
            <h3 id="donate-dollars">$1000</h3>
            <p>Helps us develop a regional training workshop to improve the effectiveness of environmental campaigns and strategies</p>
          </div>
        </div>
        <!-- <div class="col-md-1"></div> -->
        <!-- other -->
        <div class="col-md-4 donate-column">
          <div class="donate-gradients">
            <h3 id="donate-dollars">Other</h3>
            <p>Gifts of any amount are greatly valued and appreciated and enable us to help create a healthy planet for our shared future</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 donate-side">
      <%= image_tag("logo-brown.png", class: "donate-image", id: "donate-logo") %>
      <p>
        All donations are processed through Trust for Conservation Innovation, our fiscal sponsor.
      </p>
      <%= image_tag("conservation-innovation.png", class: "donate-image") %>
      <p>
        What is a Fiscal Sponsor?
      </p>
      <p>
        A fiscal sponsor helps organizations save time and money by providing tax-exempt status, legal compliance and administrative services.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 donate-separator-2">
      <p>
        To send a gift via mail, please make your check out to <strong>Trust for Conservation Innovation</strong>, and include <strong>Root Solutions</strong> on the check. Mail the check to:
      </p>
      <div id="donate-address-div">
        <p class="donate-address">Trust for Conservation Innovation</p>
        <p class="donate-address">405 14th Street, Suite 164</p>
        <p>Oakland, CA 94612</p>
      </div>
    </div>
  </div>
</div>