<script>
  $(function(){
    $('#sidebar-nav').affix({
      offset: {
        top: function() {
          return $('#header-row').offset().top + $('#header-row').outerHeight(true) - 170;
        }
      }
    })
    $('#sidebar-nav a').click(function(){
      $('#sidebar-nav').affix('checkPosition');
    })
  });
</script>
<div class="learn-container-fluid">
  <div id="behavior_design-parallax"> 
    <div class="heading-title">
      <h2 class="title">
        LEARN
      </h2>
      <div id="sub-logo">
        <%= image_tag("root-logo.png") %>
      </div>
    </div> <!-- heading-title -->
  </div> <!-- behavior_design-parallax -->
  <div id="careers-design-chevron">
  </div>
  <div class="row" id="header-row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <h2 class="learn-description">
        We have developed a suite of tools to help you learn about and implement behavior design strategy in your own initiatives.
      </h2>
    </div>
  </div> <!-- header-row -->
  <div id="learn-parallax-framework" class="heading-title">
      <h2 class="learn-other-titles">Behavioral Design Framework</h2>
  </div> <!-- learn-parallax-framework -->
  <div id="header-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>  
      <div class="learn-row">
        <p class="learn-middle-description">
          We have taken a unique approach to harnessing behavioral science for environmental initiatives. Rather than relying on the practices and understandings from just one of the available approaches, we have synthesized the available behavioral research into a unified, practical, step-by-step process. We use this framework in our <%= link_to "consulting", "/work_with_us", class: "learn-link"%> practice,  as well as when <%= link_to "training", "/work_with_us", class: "learn-link"%> environmental leaders how to harness behavioral science on their own.
        </p>
        <div class="learn-buttons">
          <h3>Learn more about why behavior matters</h3>
          <a class="btn btn-success" id="learn-button" href="/learn/why_behavior#automatic-thinking-parallax" role="button" target="_blank">Automatic Thinking</a>
          <a class="btn btn-success" id="learn-button" href="/learn/why_behavior#social-thinking-parallax" role="button" target="_blank">Social Thinking</a>
          <a class="btn btn-success" id="learn-button" href="/learn/why_behavior#mental-models-parallax" role="button" target="_blank">Mental Models</a>
          <a class="btn btn-success" id="learn-button" href="/learn/why_behavior#abstract-thinking-parallax" role="button" target="_blank">Abstract Thinking</a>
        </div>
        <div class="learn-buttons">
          <h3>Explore our essential behavioral science interventions</h3>
          <a class="btn btn-success" id="learn-button" href="/learn/behavior_design" role="button" target="_blank">10 Behavioral Buildling Blocks</a>
        </div>
        <div class="learn-buttons">
          <h3>Learn more about the four phases of our framework </h3>
          <a class="btn btn-success" id="learn-button" href="/learn/our_process" role="button" target="_blank">Initiation, Ideation, Design, Piloting</a>
        </div>
      </div> <!-- learn-row -->
    </div> <!-- col-md-8 -->
  </div> <!-- header-row -->
  <div id="learn-parallax-3" class="heading-title">
    <h2 class="learn-other-titles">Database of Resources</h2>
  </div> <!-- learn-parallax-3 -->
  <div id="header-row" class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class="learn-row">
        <p>
          Our searchable database is an excellent way to find articles, videos and case studies relevant to your own work. You can see examples of behavioral science initiatives organized by both environmental topic, such as energy reduction, green transportation and waste reduction, as well as by behavioral design principle, such as framing, using social norms and providing feedback.​
        </p>
        <div class="learn-buttons">
          <a class="btn btn-success" id="learn-button" href="/search" role="button" target="_blank">Database Search</a>
        </div>
      </div> <!-- learn-row -->
    </div> <!-- col-md-8 -->
  </div> <!-- header-row -->
</div> <!-- learn-container-fluid -->