<div class="mission-body">
  <div id="mission-parallax"> 
    <div class="heading-title">
      <h2 class="title">
        MISSION
      </h2>
      <div id="sub-logo">
        <%= image_tag("root-logo.png") %>
      </div>
    </div>
  </div>
  <div id="mission-chevron" class="backgroundcolor"></div>
  <div class="container-fluid backgroundcolor">
    <div id="header-row" class="row">
      <div class='col-md-2'></div>
      <div class='col-md-8'>
        <blockquote>
          <h1 class="text-color">Human behavior is at the root of environmental problems and their solutions.</h1>
        </blockquote>
        <div class="row">
          <div class="col-md-7 left">
            <div class="mission-wrap">
              <h2 class="mission-header">Our Mission</h2>
              <div class="mission-picture">
                <img src="http://placehold.it/450x300">
              </div>
              <p class="mission-description">
               Root Solutions is a nonprofit organization dedicated to providing conservationists and policy makers with tools and resources informed by the proven methods of behavioral science, allowing them to create more effective campaigns, policies, and strategies that reflect how people actually make decisions and the factors that motivate behavior that is good for the environment.
              </p>
            </div>
          </div>
          <div class="col-md-5 right">
            <div class="mission-twitter-wrap row">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="mission-twitter-feed">
                    @Root_Solutions is on Twitter!
                  </h3>
                </div>
              </div>
              <% TwitterApi.our_public_tweets.each do |tweet| %>
              <div class="mission-twitter-profile-image-row">
                <div class="col-md-3">
                  <img class="mission-twitter-profile-image" src="<%= TwitterApi.client.user("Root_Solutions").profile_image_uri %>">
                </div>
                <div class="col-md-9">
                  <%= (tweet.text.gsub(/(http|https|ftp|ftps)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?/) {|s| "<a href=\"#{s}\" target=\"_blank\">#{s}</a>"}).gsub(/(?:\s|^)(?:#(?!\d+(?:\s|$)))(\w+)(?=\s|$)/i) {|s| " <a href=\"https://twitter.com/hashtag/#{s[2..-1]}\" target=\"_blank\">#{s[1..-1]}</a>"}.html_safe %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>