<div id="partners-parallax"> 
  <div class="heading-title">
    <h2 class="title">
      ADVISORS & PARTNERS
    </h2>
    <div id="sub-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>
</div>
<div id="behvior_design-chevron" class="backgroundcolor">
</div>
 <div class='container-fluid backgroundcolor'>
    <div id="header-row" class="row">
      <div class='col-md-2'></div>
        <div class='col-md-8'>
        <div class="row">
          <h1 class="text-color">Advisors</h1>
          <div class="col-md-6 left">
            <div class="advisor-wrap">
              <h2 data-toggle="collapse" data-target="#banny" class="advisor-text-color advisor-hover collapsed">Banny Banerjee</h2>
              <div id="banny" class="collapse">
                <p>
                  A world expert in design and innovation with over 20 years of industry and academic experience, including 9 years at IDEO, the foremost global design and innovation firm, where he created novel experiences, crafted futures, and shaped design strategy projects across a variety of industries around the globe. As Director of the Stanford Design Program, Banny has been highly influential in creating educational experiences that incorporate design thinking into catalyzing systemic change. As the world faces increasingly complex challenges that require new ways of thinking, working, and collaborating, Banny has focused his academic career on developing radically new processes and toolsets for bringing about large-scale, sustainable impact. To put theory into practice, he founded Stanford ChangeLabs, which applies and advances theory through industry projects and inter-departmental collaborations in the areas of behavioral sciences, social economics, systems analysis, management science, engineering, and art.
                </p>
              </div>
            </div>
            <div class="advisor-wrap">
              <h2 data-toggle="collapse" data-target="#kate" class="advisor-text-color advisor-hover collapsed">Kate Wing</h2>
              <div id="kate" class="collapse">
                <p>
                  The principal of KW Consulting, where she works with a range of clients on philanthropic strategy design, communications, and ocean conservation. Prior to starting her own firm, she spent five years as a Program Officer for the Gordon and Betty Moore Foundation’s Marine Conservation Initiative, where she developed and managed a $20 million portfolio of more than 35 grants focused on ocean policy and innovation. She worked on state and national ocean campaigns during her eight years at the Natural Resources Defense Council, including the creation of California’s network of marine protected areas. She was a Knauss Sea Grant Fellow on the Senate Commerce Committee and holds a Master’s of Marine Affairs from the University of Washington and a B.A. in Marine Biology from Smith College.
                </p>
              </div>
            </div>
            <div class="advisor-wrap">
              <h2 data-toggle="collapse" data-target="#lisa" class="advisor-text-color advisor-hover collapsed">Lisa Moore</h2>
              <div id="lisa" class="collapse">
                <p>
                  A senior scientist in the Office of Chief Scientist at Environmental Defense Fund, where she works with staff on all of EDF’s program areas: oceans, ecosystems, climate, energy, and human health. She serves as EDF’s lead “knowledge broker” on a wide variety of environmental topics, bringing together scientists, policymakers, advocates, and other stakeholders to learn from each other and advance the state of knowledge. She also advises EDF on issues related to climate change, ecosystems, and biogeochemistry. She has a BS in ecology, evolution, and conservation from The University of Texas at Austin and a PhD in ecology from Stanford University.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 right">
            <div class="advisor-wrap">
              <h2 data-toggle="collapse" data-target="#paul" class="advisor-text-color advisor-hover collapsed">Paul Brest</h2>
              <div id="paul" class="collapse">
                <p>
                  He joined the Stanford Law School faculty in 1969 and served as dean from 1987 to 1999 before becoming president of the William and Flora Hewlett Foundation in 2000. He returned to Stanford Law School in 2012, where, as an emeritus professor recalled to active duty, he is teaching Judgment and Decision-Making at the Law School and Impact Investing and Managing to Outcomes at the Graduate School of Business. Professor Brest is a leading scholar and teacher of constitutional law; he now focuses on judgment and decision-making and philanthropy. Professor Brest is a fellow in the American Academy of Arts and Sciences, and holds honorary degrees from Northwestern University School of Law and Swarthmore College. Before joining the Stanford Law School faculty in 1969, he clerked for Judge Bailey Aldrich of the U.S. Court of Appeals for the First Circuit and Justice John M. Harlan of the U.S. Supreme Court, and did civil rights litigation with the NAACP Legal Defense and Education Fund in Mississippi.
                </p>
              </div>
            </div>
            <div class="advisor-wrap">
              <h2 data-toggle="collapse" data-target="#rainer" class="advisor-text-color advisor-hover collapsed">Rainer Romero-Canyas</h2>
              <div id="rainer" class="collapse">
                <p>
                  An experimental social and personality psychologist and is currently a Behavioral Social Scientist for the Environmental Defense Fund. At EDF, he works to use behavioral sciences to inform programs and initiatives and conducts research on how to communicate information about environmental protection to foster environmentally responsible behavior. He has coauthored numerous scientific articles and has contributed to books on social behavior. From 2006 to 2012, Romero-Canyas was a post-doctoral research scientist and then an Associate Research Scientist at Columbia University. He received his B.A. in psychology from Yale University and his MA, MPH. and PhD from Columbia University.
                </p>
              </div>
            </div>
          </div>
        </div>  
       <div class="row">
        <div class="col-md-12">
          <div class="partner-wrap">
            <h1 class="text-color">Partners</h1>
            <div class="partner-wrap">
              <h3>Foundations</h3>
                <ul>
                  <p>
                    <h4>The Lisa & Douglas Goldman Foundation</h4>
                    <h4>The Mary A. Crocker Trust</h4>
                    <h4>Salesforce Foundation</h4>
                    <h4>Flora L. Thornton Foundation</h4>
                    <h4>Acorn Hill Foundation</h4>
                  </p>
                </ul>
            </div>
          ​<div class="partner-wrap">
            <h3>Academic Institution</h3>
                ​<img id="comp-ivmrxyzjimgimage" alt="" src="https://static.wixstatic.com/media/5440fd_e16e4013dd2249269effd2ed7e0966cc~mv2.jpg/v1/fill/w_316,h_148,al_c,q_80,usm_0.66_1.00_0.01/5440fd_e16e4013dd2249269effd2ed7e0966cc~mv2.webp" style="width: 316px; height: 148px; object-fit: cover;" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c14fr_DESKTOP.1.$comp-ivmrxyzj.0.0.$image">
          </div>
          ​<div class="partner-wrap">
            <h3>Project By</h3>
              <p>
               <img id="comp-ivimgn0limgimage" alt="" src="https://static.wixstatic.com/media/5440fd_f18af10b2aa0472ebd5b27c78995f004.png/v1/fill/w_320,h_140,al_c,q_80,usm_0.66_1.00_0.01/5440fd_f18af10b2aa0472ebd5b27c78995f004.webp" style="width: 320px; height: 140px; object-fit: cover;" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c14fr_DESKTOP.1.$comp-ivimgn0l.0.0.$image">
              </p>
          </div>
        </div>
            </div>
          </div>
        </div>