<div id="projects-parallax"> 
  <div class="heading-title">
    <h2 class="title">
      PROJECTS
    </h2>
    <div id="sub-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>
<div id="projects-chevron"></div>
<div class="container">
  <div class="row">
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <h2 id="projects-header">2016 Projects</h2>
      <p id="projects-header-p1">
        We work directly with organizations, companies and governmental agencies to identify behavioral leverage points in their initiatives, then assist in the design and implementation of cost-effective and scalable behavioral strategies.
      </p>
      <p>
        Here are some of the projects we worked on in 2016.
      </p>
    </div>
  </div>
</div>