<div class="team-body">
  <div id="team-parallax">
    <div class="heading-title">
      <h2 class="title">
        Meet the Team
      </h2>
      <div id="sub-logo">
        <%= image_tag("root-logo.png") %>
      </div>
    </div>
  </div> <!-- team-parallax close -->
  <div id="team-chevron" class="team-background-color"></div>
  <div class='container-fluid'>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="team-wrap">
          <blockquote>
            <h1 class="team-header-one">
              Accelarating Social Change
            </h1>
          </blockquote>
        </div> <!-- team-wrap -->
      </div> <!-- col-md-8 -->
    </div> <!-- row -->
  </div> <!-- container-fluid team-background and team-info -->
  <div id="team-parallax-1" class="heading-title">
    <h2 class="other-titles">
      Root Solutions Team
    </h2>
  </div> <!-- team-parallax-1 -->
  <div class='container-fluid backgroundcolor'>
    <div class="row large-team-root" id="nya-van-leuvan">
      <div class="col-md-3 col-md-offset-1" style="height: 400px">
        <img src="http://placehold.it/280x400" style="display:block;">
      </div>
      <div class="col-md-7" style="height: 400px;">
        <h2 style="margin-top:0px;">Nya Van Leuvan</h2>
        <p class="team-root-description">
        Nya has always had a deep-seated passion for the environment and understanding human behavior. Her conservation work has focused on the application of research in institutional design, sociology, economics and other fields to create policies and design principles that facilitate rational environmental decision-making, namely in service of preserving the world’s oceans. Nya has created educational and outreach materials for the National Science Foundation and the National Geographic Society on the fragility of earth’s coral reef ecosystems. As a fisheries specialist at Environmental Defense Fund (EDF), she provided sustainable fishery management expertise through workshops, trainings and resource development. During her four-year tenure at EDF, Nya met and worked closely with Rod Fujita. Together they led the first introduction of decision science to their colleagues.Nya has co-authored two books: Catch Share Design Manual, Volume 1: A Guide for Managers and Fishermen and Catch Share Design Manual, Volume 2: Cooperative Catch Shares as well as several scientific articles. Nya holds a M.A. from the School of Human Evolution and Social Change, in conjunction with the Institute of Human Origins, at Arizona State University. She holds a B.A. from U.C. Berkeley.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-md-2 col-md-offset-1'>
      <a class="select-team-root" href="#nya-van-leuvan">
        <div class="team-root-wrap active-team-root">
          <div class="team-root-image" style="text-align: center;">
            <%= image_tag "http://placehold.it/180x180" %>
          </div>
          <h2 class="team-root-text-color team-root-hover">Nya</h2>
        </div>
      </a> <!-- select-root-team -->
    </div> <!-- col-md-2 col-md-offset-1 -->
  </div> <!-- row -->
  <div id="team-parallax-2" class="heading-title">
    <h2 class="other-titles">
      Contributors
    </h2>
  </div> <!-- team-parallax-2 -->
    <div class="row">
      
  </div> <!-- row -->
</div> <!-- team-body -->