<div class="team-body">
  <div id="team-parallax">
    <div class="heading-title">
      <h2 class="title">
        Team Page
      </h2>
      <div id="sub-logo">
        <%= image_tag("root-logo.png") %>
      </div>
    </div>
  </div> <!-- team-parallax close -->
  <div id="team-chevron" class="team-background-color"></div>
  <div class='container-fluid team-background-color team-info'>
    <div class="container-fluid">
      <div class-"row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h1 class="team-header-one">
            Meet Our Team
          </h1>
        </div>
      </div>
    </div> <!-- container-fluid close -->
  </div> <!-- container-fluid team-background and team-info close -->
</div> <!-- team-body close -->