<div id="parallax-1"> 

  <div class="heading-title">
    <h2>
      Work With Us
    </h2>
    <div id="main-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>

<div class= "white-space chevron">
  <p>
    We work directly with organizations, companies and governmental agencies to identify behavioral leverage points in their initiatives, then assist in the design and implementation of cost-effective and scalable behavioral strategies.
  </p>

</div>


<div id="parallax-2" class="heading-title">
  <h2 class="other-titles">Consulting Services</h2>
</div>
<div class="white-space"> 

  <p>
    We provide a range of services:
  </p>
  <p>
    <ul>
      Background research (case studies, social forces, values, mental models)
      Audience segmentation
    </ul>
    <ul>
      Survey / interview / focus group design, implementation and reporting
    </ul>
    <ul>
      Messaging, collateral and interface design
    </ul>
    <ul>
      Behavior change program design, piloting, implementation and evaluation
      Social media strategy​
    </ul>
  </p>
  ​<p>

  We have developed a systematic approach for integrating behavioral insights into both new and ongoing projects. Learn more about the Root Solutions Environmental Behavior Design Framework.
</p>
</div>

<div id="parallax-3" class="heading-title">
  <h2 class="other-titles">Database of Resources</h2>
</div>

<div  class="white-space">
  <p>
    Our searchable database is an excellent way to find articles, videos and case studies relevant to your own work. You can see examples of behavioral science initiatives organized by both environmental topic, such as energy reduction, green transportation and waste reduction, as well as by behavioral design principle, such as framing, using social norms and providing feedback.​
  </p>
</div>