<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- ABOUT SECTION START -->
  <!-- About: Intro -->
    <div id="about-section">
      <div class="row" id="work-with-us-intro">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centered">
        <h1 class="centered">Work With Us</h1>
      </div>

      <div class="row" id="about-intro-mission">

          <div class="col-md-12 centered">
            <p class="content">We work directly with organizations, companies and governmental agencies to identify behavioral leverage points in their initiatives, then assist in the design and implementation of cost-effective and scalable behavioral strategies.</p>
          </div>
        </div>
     </div>
     <div class="col-md-12">
        <h2 class="sub-section-title centered"> Consulting Services</h2>
        <div class="col-md-12">
          <p>We provide a range of services:</p>
​
          <ul class="list1">
          <li>Background research (case studies, social forces, values, mental models)</li>
          <li>Audience segmentation</li>
          <li>Survey / interview / focus group design, implementation and reporting</li>
          <li>Messaging, collateral and interface design</li>
          <li>Behavior change program design, piloting, implementation and evaluation</li>
          <li>Social media strategy</li>​
        </ul>
 
          <p>We have developed a systematic approach for integrating behavioral insights into both new and ongoing projects. Learn more about the Root Solutions Environmental Behavior Design Framework.</p>
        </div>
      </div>

      <div class="row margin-second-work-with-us-img" id="work-with-us-second">
        <div class="col-md-12 centered">
          <!-- <button class="centered newsletter">Projects</button> -->
        </div>
        <div class="row" id="about-intro-mission">
          <div class="col-md-12 centered">
            <h2 class="sub-section-title">Projects</h2>
          </div>
          <div class="row">
            <div class="col-md-6">
            <div class="image-frame"></div>
              <p>Here is a sample of our projects</p>
            
            </div>
            </div>
          </div>

      </div>
      <div class="col-md-12 centered">
        <h4 class="sub-section-title"> More Info for advising</h4>
        <div class="col-md-12 centered">
          <p>Maecenas nunc ut nonummy amet ac venenatis, lacus nisl ac leo dolor, eleifend luctus hendrerit tempor, massa dictum gravida et deserunt fermentum, mi neque turpis nec amet fusce integer. Dui maecenas tempus consequat. Explicabo nascetur nascetur mi, molestie ultricies proin, donec scelerisque sodales bibendum.</p>
        </div>
      </div>

      <div class="row margin-second-work-with-us-img" id="work-with-us-third">
        <div class="col-md-12 centered">
          <button class="centered newsletter">Link To something</button>
        </div>
        <div class="row" id="about-intro-mission">
          <div class="col-md-12 centered">
            <h4 class="sub-section-title">Projects</h4>
            <div class="col-md-12 centered">
              <p>Maecenas nunc ut nonummy amet ac venenatis, lacus nisl ac leo dolor, eleifend luctus hendrerit tempor, massa dictum gravida et deserunt fermentum, mi neque turpis nec amet fusce integer. Dui maecenas tempus consequat. Explicabo nascetur nascetur mi, molestie ultricies proin, donec scelerisque sodales bibendum.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 centered">
        <h4 class="sub-section-title"> More Info for projects</h4>
        <div class="col-md-12 centered">
          <p>Maecenas nunc ut nonummy amet ac venenatis, lacus nisl ac leo dolor, eleifend luctus hendrerit tempor, massa dictum gravida et deserunt fermentum, mi neque turpis nec amet fusce integer. Dui maecenas tempus consequat. Explicabo nascetur nascetur mi, molestie ultricies proin, donec scelerisque sodales bibendum.</p>
        </div>
      </div>

    <!-- About: What We Do -->

  </div>
  </div> <!-- /.container -->