<div ng-app="adminpanel-app" ng-controller="resourcesCtrl" ng-init="resources_setup()">
<h1>All Resources</h1>


<table class="table">

  <tr>
    <th>World region</th>
    <th>Title</th>
    <th>Author</th>
    <th>News source</th>
    <th>Date</th>
    <th>Summary</th>
    <th>Url</th>
    <th>Notes</th>
    <td colspan="2"></td>
  </tr>
  <tr ng-repeat="resource in resources">
    <td>{{ resource.world_region }}</td>
    <td><a href="/resources/{{ resource.id }}">{{ resource.title }}</a></td>
    <td>{{ resource.author }}</td>
    <td>{{ resource.news_source }}</td>
    <td>{{ resource.date }}</td>
    <td>{{ resource.summary }}</td>
    <td>{{ resource.url }}</td>
    <td>{{ resource.notes }}</td>
    <td><a href="/resources/{{ resource.id }}/edit">Edit</a></td>
    <td><a href="/resources/{{ resource.id }}" data-method="delete">Delete</a></td>
  </tr>
</table>

<br />

<%= link_to "New Resource", new_resource_path %>

<br />

<%= link_to "Export Resources", export_resources_path %>

</div>
