<h1><%= @resource.title %></h1>

<p>
  World Region(s):
    <%= @resource.world_regions.each do | world_region | %>
      <%= world_region %>
    <% end %>
</p>


<%= link_to "All resources", resources_path %>

