<div id="behavior_design-parallax"> 
  <div class="heading-title">
    <h2>
      ROOT SOLUTIONS
    </h2>
    <div id="sub-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>
<div class="chevron">
  <div class="row">
    <div class='col-md-1'></div>
    <div class='col-md-10'>
      <h1 style="text-align: center;">"Behavioral" Building Blocks</h1>
      <h3>Root Solutions has developed an easily understood, practical behavior design process. The heart of this process is our essential “Behavioral Building Blocks” each made up of time tested behavioral interventions.</h3>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#Benefits">Benefits</a></li>
        <li role="presentation"><a href="#Easy">Easy</a></li>
        <li role="presentation"><a href="#Hopeful">Hopeful</a></li>
        <li role="presentation"><a href="#Associate">Associate</a></li>
        <li role="presentation"><a href="#Vivid">Vivid</a></li>
        <li role="presentation"><a href="#Identity">Identity</a></li>
        <li role="presentation"><a href="#Ordinary">Ordinary</a></li>
        <li role="presentation"><a href="#Relatable">Relatable</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div id="Benefits" class="tab-pane fade in active">

      </div>
      <div id="Easy" class="tab-pane fade"></div>
      <div id="Hopeful" class="tab-pane fade"></div>
      <div id="Associate" class="tab-pane fade"></div>
      <div id="Vivid" class="tab-pane fade"></div>
      <div id="Identity" class="tab-pane fade"></div>
      <div id="Ordinary" class="tab-pane fade"></div>
      <div id="Relatable" class="tab-pane fade"></div>
      </div>
    </div>
  </div>
</div>