<script>
  $(function(){
    $('#sidebar-nav').affix({
      offset: {
        top: function() {
          return $('#header-row').offset().top + $('#header-row').outerHeight(true) - 170;
        }
      }
    })
    $('#sidebar-nav a').click(function(){
      $('#sidebar-nav').affix('checkPosition');
    })
  });
</script>

<div id="behavior_design-parallax"> 
  <div class="heading-title">
    <h2 class="title">
      ROOT SOLUTIONS
    </h2>
    <div id="sub-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>
<div id="behvior_design-chevron" class="backgroundcolor">
</div>
  <div class='container-fluid backgroundcolor'>
    <div id="header-row" class="row">
      <div class='col-md-3'></div>
      <div class='col-md-7'>
        <h1 class="text-color behavior-design-title">"Behavioral" Building Blocks</h1>
        <h3>Root Solutions has developed an easily understood, practical behavior design process. The heart of this process is our essential “Behavioral Building Blocks” each made up of time tested behavioral interventions.</h3>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-1"></div>
      <div class='col-md-2'>
        <ul id="sidebar-nav" class="nav nav-tabs nav-stacked">
          <li role="presentation" class="active"><a data-toggle="tab" href="#Benefits" class='tab-style'>Benefits</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Easy" class='tab-style'>Easy</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Hopeful" class='tab-style'>Hopeful</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Associate" class='tab-style'>Associate</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Vivid" class='tab-style'>Vivid</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Identity" class='tab-style'>Identity</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Ordinary" class='tab-style'>Ordinary</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Relatable" class='tab-style'>Relatable</a></li>
        </ul>
      </div>
      <div class='col-md-7'>
        <div class='content'>
          <div class="tab-content">
            <div id="Benefits" class="tab-pane fade in active h-color">
              <h2 class="text-color">Use BENEFITS</h2>
              <p>
                Key point: Environmentalists have long understood the value of rewarding positive environmental behaviors or penalizing detrimental behaviors. By attaching benefits and/or disincentives to specific behavioral outcomes, we can catalyze action or help to reinvigorate pre-established goals.
              </p>
              <h3>Utilize outcome-based incentives</h3>
              <p>
                When users are more equipped to design their own path to achieve a goal, consider designing an outcome-based incentive. For example, reward a percent decrease in overall energy use, rather than specifying that the goal must be achieved through a reduction in light use.
              </p>
              <h3>Build off of existing goals and behaviors</h3>
              <p>
                Tie rewards to goals the audience already possesses. For example, the “Cash for Clunkers” program reached many drivers who were considering purchasing a more fuel efficient car in the coming years, but needed a push in the form of a rebate to do so sooner.
              </p>
              <h3>Use penalties wisely</h3>
              <p>
                Harness the audience’s natural aversion to loss through disincentives, but be careful – we will go a long way to avoid loss, so watch out for potential short cuts to circumvent penalties. For example, when imposing a tax on household waste, be sure to account for the unintended behavior of dumping excess trash elsewhere.
              </p>
              <h3>Reward specific behaviors</h3>
              <p>
                When abstract goals are hard to follow through on, it is usually best to reward or penalize a clear-cut behavior that advance our goals. For example, plastic bag taxes at the checkout line reinforce a specific sustainable behavior and encourage consumers to reduce their impact by bringing a reusable bag from home.
              </p>
              <h3>Make benefits and costs immediate</h3>
              <p>
                As practitioners, we want to jumpstart environmental behaviors as efficiently as possible. When developing incentives, play upon the audiences’ tendency to prioritize immediate rewards or costs over those that are faraway by including a stimulus up front.
              </p>
              <h3>Tailor the incentive</h3>
              <p>
                Remember: there is no one “catch all” incentive that works for every occasion. To produce the best incentive, get creative, and make sure to align benefits with the what the audience finds attractive.
              </p>
              <h3>Limit the availability of benefits</h3>
              <p>
                Scarcity of resources plays a big role in motivating behavior. When designing rewards, consider offering a limited-amount or a limited-time reward.
              </p>
              <h3>Optimize resources</h3>
              <p>
                We know that large prizes can entice our audiences.  If we have a finite number of resources to offer, we can reduce the number and increase the value of each reward. For high participation and impact, use a lottery system!
              </p>
            </div>
            <div id="Easy" class="tab-pane fade h-color">
              <h2 class="text-color">Make it EASY</h2>
              <p>
                Key point: Any kind of barrier to action, whether mental or physical, discourages us from a behavior. Making it easy involves removing barriers to desired actions and erecting barriers to deleterious actions, while employing defaults to promote favorable actions. These strategies together are quite powerful, as they make environmentally friendly behavior virtually effortless.
              </p>
              <h3>Set the stage for easy action</h3>
              <p>
                As practitioners, we need to make sure we are not asking our target groups to make a change without first providing them the appropriate infrastructure with which to do so. For example, if our goal is to decrease plastic water bottle consumption, we should make sure we offer a convenient alternative water source.
              </p>
              <h3>Reduce hassle factors</h3>
              <p>
                When we feel there are too many hoops to jump through in order to achieve a result, we are likely to avoid the action entirely. By limiting the amount of time and effort it takes to do something, we can increase our audiences’ rate of participation and cooperation.
              </p>
              <h3>Reduce choices</h3>
              <p>
                Avoid choice paralysis – the tendency to freeze up when options become too numerous or complex – by limiting the number of actionable environmental options available to the audience.
              </p>
              <h3>Design information to be easy to understand and execute</h3>
              <p>
                We often avoid following through on certain actions because the information we receive is complicated or hard to understand. Make it easy to adopt and sustain the preferred behavior by offering the audience simple, uncluttered information and clear directions on which to act.
              </p>
              <h3>Use choice architecture</h3>
              <p>
                The way in which choices are presented to us plays a huge role in the ultimate decisions we make. Employ choice architecture to subtly nudge your audience toward the preferred behavior. For example, by placing vegetarian options on the front of a menu, restaurants can guide their patrons to choose more environmentally sustainable consumption.
              </p>
              <h3>Make it the default setting</h3>
              <p>
                Doing nothing is the easiest action of all, so by making the environmental action the default, we can seamlessly increase our audience’s support for our effort. Present the desired option as the preselected default and offer the user the opportunity to opt-out. Setting  environmental defaults for routine activities like printing or booking travel tickets can reap huge environmental pay-offs.
              </p>
              <h3>Erect barriers to undesirable actions</h3>
              <p>
                As practitioners, we can use the tendency to avoid taking actions that appear to require too much effort to our advantage by making environmentally inefficient behavior harder to perform. Consider this: if an office is hoping to cut its paper consumption, they might create an effective barrier by moving the office printer to a less convenient location.
              </p>
            </div>
            <div id="Hopeful" class="tab-pane fade h-color">
              <h2 class="text-color">Emphasize HOPEFULNESS</h2>
              <p>
                Key point: Hopelessness leads to avoidance and inaction. In order to feel motivated, we need to be confident that we have the ability to positively affect our planet and that our efforts actually make a difference.
              </p>
              <h3>Highlight successes</h3>
              <p>
                To challenge the notion that environmental problems are beyond repair, show the audience that there are concrete solutions and highlight what is currently being done to mitigate the issue. This way, we can get people to feel that the solution already has some forward momentum, and that they have the power to add to it.
              </p>
              <h3>Use doomsday language sparingly</h3>
              <p>
                While fear-inducing images and large-scale doomsday narratives can effectively capture attention, they can also cause us to feel hopeless and retreat from the issue at hand. Enhance the audience’s sense of self efficacy by pairing threatening messages with clear-cut solutions the audience can implement immediately.
              </p>
              <h3>Offer appropriately scaled solutions</h3>
              <p>
                Frame the problem commensurately to the solution. People primed to think about a large-scale problem won’t be receptive to a small-scale solution. If we identify climate change as a global phenomenon and present small solutions like purchasing locally produced foods, we risk losing the support of our audience because our solutions will feel ineffective. Motivate individuals by connecting an action like biking to neighborhood air pollution, rather than global warming.
              </p>
              <h3>Underscore collective engagement</h3>
              <p>
                Far reaching problems are less scary when framed in terms of collective solutions. Being a part of a group increases our sense of impact. Our sense of impact in turn influences our motivation to act on a particular issue. When framing our efforts, make the problem an issue faced by “us” rather than “you.”
              </p>
              <h3>Provide feedback</h3>
              <p>
                Receiving information about the results of our behavior can help to enhance our sense of achievement, and fuel our motivation by showing us that our actions can make a difference. When we are able to track our progress, we often feel more motivated to continue toward our goal. Provide frequent constructive feedback for maximum impact.
              </p>
              <h3>Empower the audience</h3>
              <p>
                We can help our audiences feel empowered by showing them what they’re already doing right. By prompting our audiences with questions about preexisting behavior and knowledge, we can show them they have an inherent sense of environmental agency. Alternately, we can inspire the audience by showing them how to extend their knowledge to perform environmental behaviors.
              </p>
              <h3>Focus on behaviors that increase positive environmental impacts</h3>
              <p>
                 Positivity works! The scale of existing environmental damage can often lead us to feel overwhelmed and powerless. Instead of focusing solely on reducing negative impacts, show individuals how they can increase positive impacts on the environment.
              </p>
            </div>
            <div id="Associate" class="tab-pane fade h-color">
              <h2 class="text-color">Frame for the appropriate ASSOCIATIONS</h2>
            </div>
            <div id="Vivid" class="tab-pane fade h-color">
              <h2 class="text-color">Design it to be VIVID</h2>
            </div>
            <div id="Identity" class="tab-pane fade h-color">
              <h2 class="text-color">Encourage consistent IDENTITY</h2>
            </div>
            <div id="Ordinary" class="tab-pane fade h-color">
              <h2 class="text-color">Demonstrate what is ORDINARY</h2>
            </div>
            <div id="Relatable" class="tab-pane fade h-color">
              <h2 class="text-color">Craft it to be RELATABLE</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>