<div id="behavior_design-parallax"> 
  <div class="heading-title">
    <h2 class="title">
      BEHAVIOR DESIGN
    </h2>
    <div id="sub-logo">
      <%= image_tag("root-logo.png") %>
    </div>
  </div>
</div>
<div id="behavior_design-chevron">
</div>
  <div class='container-fluid'>
    <div id="header-row" class="row">
      <div class='col-md-3'></div>
      <div class='col-md-7'>
        <h1 class="client-text-color behavior-design-title">"Behavioral" Building Blocks</h1>
        <h2>Root Solutions has developed an easily understood, practical behavior design process. The heart of this process is our essential “Behavioral Building Blocks” each made up of time tested behavioral interventions.</h3>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-1"></div>
      <div class='col-md-2'>
        <ul id="sidebar-nav" class="nav nav-tabs nav-stacked">
          <li role="presentation" class="active"><a data-toggle="tab" href="#Benefits" class='tab-style'>Benefits</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Easy" class='tab-style'>Easy</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Hopeful" class='tab-style'>Hopeful</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Associate" class='tab-style'>Associate</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Vivid" class='tab-style'>Vivid</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Identity" class='tab-style'>Identity</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Ordinary" class='tab-style'>Ordinary</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Relatable" class='tab-style'>Relatable</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Awareness" class='tab-style'>Awareness</a></li>
          <li role="presentation"><a data-toggle="tab" href="#Lasting" class='tab-style'>Lasting</a></li>
        </ul>
      </div>
      <div class='col-md-7'>
        <div class='content'>
          <div class="tab-content">
            <div id="Benefits" class="tab-pane fade in active client-color">
              <h2 class="client-text-color">Use BENEFITS</h2>
              <p>
                <strong>Key point:</strong> Environmentalists have long understood the value of rewarding positive environmental behaviors or penalizing detrimental behaviors. By attaching benefits and/or disincentives to specific behavioral outcomes, we can catalyze action or help to reinvigorate pre-established goals.
              </p>
              <h3>Utilize outcome-based incentives</h3>
              <p>
                When users are more equipped to design their own path to achieve a goal, consider designing an outcome-based incentive. For example, reward a percent decrease in overall energy use, rather than specifying that the goal must be achieved through a reduction in light use.
              </p>
              <h3>Build off of existing goals and behaviors</h3>
              <p>
                Tie rewards to goals the audience already possesses. For example, the “Cash for Clunkers” program reached many drivers who were considering purchasing a more fuel efficient car in the coming years, but needed a push in the form of a rebate to do so sooner.
              </p>
              <h3>Use penalties wisely</h3>
              <p>
                Harness the audience’s natural aversion to loss through disincentives, but be careful – we will go a long way to avoid loss, so watch out for potential short cuts to circumvent penalties. For example, when imposing a tax on household waste, be sure to account for the unintended behavior of dumping excess trash elsewhere.
              </p>
              <h3>Reward specific behaviors</h3>
              <p>
                When abstract goals are hard to follow through on, it is usually best to reward or penalize a clear-cut behavior that advance our goals. For example, plastic bag taxes at the checkout line reinforce a specific sustainable behavior and encourage consumers to reduce their impact by bringing a reusable bag from home.
              </p>
              <h3>Make benefits and costs immediate</h3>
              <p>
                As practitioners, we want to jumpstart environmental behaviors as efficiently as possible. When developing incentives, play upon the audiences’ tendency to prioritize immediate rewards or costs over those that are faraway by including a stimulus up front.
              </p>
              <h3>Tailor the incentive</h3>
              <p>
                Remember: there is no one “catch all” incentive that works for every occasion. To produce the best incentive, get creative, and make sure to align benefits with the what the audience finds attractive.
              </p>
              <h3>Limit the availability of benefits</h3>
              <p>
                Scarcity of resources plays a big role in motivating behavior. When designing rewards, consider offering a limited-amount or a limited-time reward.
              </p>
              <h3>Optimize resources</h3>
              <p>
                We know that large prizes can entice our audiences.  If we have a finite number of resources to offer, we can reduce the number and increase the value of each reward. For high participation and impact, use a lottery system!
              </p>
            </div>
            <div id="Easy" class="tab-pane fade client-color">
              <h2 class="client-text-color">Make it EASY</h2>
              <p>
                <strong>Key point:</strong> Any kind of barrier to action, whether mental or physical, discourages us from a behavior. Making it easy involves removing barriers to desired actions and erecting barriers to deleterious actions, while employing defaults to promote favorable actions. These strategies together are quite powerful, as they make environmentally friendly behavior virtually effortless.
              </p>
              <h3>Set the stage for easy action</h3>
              <p>
                As practitioners, we need to make sure we are not asking our target groups to make a change without first providing them the appropriate infrastructure with which to do so. For example, if our goal is to decrease plastic water bottle consumption, we should make sure we offer a convenient alternative water source.
              </p>
              <h3>Reduce hassle factors</h3>
              <p>
                When we feel there are too many hoops to jump through in order to achieve a result, we are likely to avoid the action entirely. By limiting the amount of time and effort it takes to do something, we can increase our audiences’ rate of participation and cooperation.
              </p>
              <h3>Reduce choices</h3>
              <p>
                Avoid choice paralysis – the tendency to freeze up when options become too numerous or complex – by limiting the number of actionable environmental options available to the audience.
              </p>
              <h3>Design information to be easy to understand and execute</h3>
              <p>
                We often avoid following through on certain actions because the information we receive is complicated or hard to understand. Make it easy to adopt and sustain the preferred behavior by offering the audience simple, uncluttered information and clear directions on which to act.
              </p>
              <h3>Use choice architecture</h3>
              <p>
                The way in which choices are presented to us plays a huge role in the ultimate decisions we make. Employ choice architecture to subtly nudge your audience toward the preferred behavior. For example, by placing vegetarian options on the front of a menu, restaurants can guide their patrons to choose more environmentally sustainable consumption.
              </p>
              <h3>Make it the default setting</h3>
              <p>
                Doing nothing is the easiest action of all, so by making the environmental action the default, we can seamlessly increase our audience’s support for our effort. Present the desired option as the preselected default and offer the user the opportunity to opt-out. Setting  environmental defaults for routine activities like printing or booking travel tickets can reap huge environmental pay-offs.
              </p>
              <h3>Erect barriers to undesirable actions</h3>
              <p>
                As practitioners, we can use the tendency to avoid taking actions that appear to require too much effort to our advantage by making environmentally inefficient behavior harder to perform. Consider this: if an office is hoping to cut its paper consumption, they might create an effective barrier by moving the office printer to a less convenient location.
              </p>
            </div>
            <div id="Hopeful" class="tab-pane fade client-color">
              <h2 class="client-text-color">Emphasize HOPEFULNESS</h2>
              <p>
                <strong>Key point:</strong> Hopelessness leads to avoidance and inaction. In order to feel motivated, we need to be confident that we have the ability to positively affect our planet and that our efforts actually make a difference.
              </p>
              <h3>Highlight successes</h3>
              <p>
                To challenge the notion that environmental problems are beyond repair, show the audience that there are concrete solutions and highlight what is currently being done to mitigate the issue. This way, we can get people to feel that the solution already has some forward momentum, and that they have the power to add to it.
              </p>
              <h3>Use doomsday language sparingly</h3>
              <p>
                While fear-inducing images and large-scale doomsday narratives can effectively capture attention, they can also cause us to feel hopeless and retreat from the issue at hand. Enhance the audience’s sense of self efficacy by pairing threatening messages with clear-cut solutions the audience can implement immediately.
              </p>
              <h3>Offer appropriately scaled solutions</h3>
              <p>
                Frame the problem commensurately to the solution. People primed to think about a large-scale problem won’t be receptive to a small-scale solution. If we identify climate change as a global phenomenon and present small solutions like purchasing locally produced foods, we risk losing the support of our audience because our solutions will feel ineffective. Motivate individuals by connecting an action like biking to neighborhood air pollution, rather than global warming.
              </p>
              <h3>Underscore collective engagement</h3>
              <p>
                Far reaching problems are less scary when framed in terms of collective solutions. Being a part of a group increases our sense of impact. Our sense of impact in turn influences our motivation to act on a particular issue. When framing our efforts, make the problem an issue faced by “us” rather than “you.”
              </p>
              <h3>Provide feedback</h3>
              <p>
                Receiving information about the results of our behavior can help to enhance our sense of achievement, and fuel our motivation by showing us that our actions can make a difference. When we are able to track our progress, we often feel more motivated to continue toward our goal. Provide frequent constructive feedback for maximum impact.
              </p>
              <h3>Empower the audience</h3>
              <p>
                We can help our audiences feel empowered by showing them what they’re already doing right. By prompting our audiences with questions about preexisting behavior and knowledge, we can show them they have an inherent sense of environmental agency. Alternately, we can inspire the audience by showing them how to extend their knowledge to perform environmental behaviors.
              </p>
              <h3>Focus on behaviors that increase positive environmental impacts</h3>
              <p>
                 Positivity works! The scale of existing environmental damage can often lead us to feel overwhelmed and powerless. Instead of focusing solely on reducing negative impacts, show individuals how they can increase positive impacts on the environment.
              </p>
            </div>
            <div id="Associate" class="tab-pane fade client-color">
              <h2 class="client-text-color">Frame for the appropriate ASSOCIATIONS</h2>
              <p>
                <strong>Key point:</strong> We process each piece of new information we receive through our pre-existing values, beliefs, and experiences. Framing messages to better fit our mental models can influence message uptake, agreement, and willingness to act.
              </p>
              <h3>Meet people where they are</h3>
              <p>
                The way we view the world greatly influences how we perceive environmental causes. By tying our messages to our audience’s values, world-views and morals we can increase receptivity and allow our audience a chance to enact their virtues. For example, conservatives may find an initiative framed as a carbon tax unfair, but express interest in the same initiative framed as a carbon offset.
              </p>
              <h3>Highlight the right identity</h3>
              <p>
                As environmental advocates, we can garner support for our efforts by drawing upon the identities and values most related to our causes. When designing messaging, stick with inclusive language and be careful to avoid politically charged language. This might include identifying our audience members as “citizens” rather than “consumers” to ignite their sense of shared duty. Rather than calling a group “environmentalists,” consider calling them “concerned citizens.”
              </p>
              <h3>Use engaging metaphors</h3>
              <p>
                Enhance scientific communication by connecting what our audience is familiar with to abstract environmental processes. Through the use of metaphors, we can effectively guide our audience to situate our issue in the appropriate context. Descriptions like “ocean acidification is osteoporosis of the sea”, help us apply our understanding of how our own bodies operate to more complex scientific phenomena.
              </p>
              <h3>Emphasize potential loss over potential gain</h3>
              <p>
                In general, we hate losing something more than we feel satisfaction from gaining that same thing. To encourage environmental behavior, frame the action in terms of preventing loss or restoring a loss by highlighting an initial level of resources that is threatened or has already been depleted. For example, people are found more willing to offer financial support when forest conservation is framed as regaining previously lost forest health rather than improving current forest health.
              </p>
              <h3>Minimize uncertainty</h3>
              <p>
                Our attention to environmental occurrences diminishes as uncertainty increases. In order to effectively communicate the importance of our environmental issues, we should steer clear of language highlighting any doubt regarding environmental outcomes.
              </p>
            </div>
            <div id="Vivid" class="tab-pane fade client-color">
              <h2 class="client-text-color">Design it to be VIVID</h2>
              <p>
                This is a sneak peek at Vivid.  To read the entire chapter, click <a href="">here</a>. <!-- link pending, discuss with Nya -->
              </p>
              <p>
                <strong>Key point:</strong> Because we are constantly bombarded by information, effective calls to action need to stand out, be original and vividly capture attention!
              </p>
              <h3>Make the target behavior obvious</h3>
              <p>
                Use attention-grabbing design features that make the desired behavior appear striking, obvious, or aesthetically pleasing – such as green footprints that lead to recycling and compost bins. By increasing visual and sensory salience, we can bridge the gap between how our audiences intend to act and how they actually behave.
              </p>
              <h3>Use everyday analogies</h3>
              <p>
                When problems are communicated vividly in terms we are used to, we are more likely to perceive them as immediate and important. We can use engaging photographs and descriptive language to bring the problem to life for our audiences. For example, rather than offering the audience a numeric description of the waste they produce on a yearly basis, consider depicting an image of waste filling the streets on their morning commute.
              </p>
              <h3>Link the action to its impact</h3>
              <p>
                We often remain passive because we aren’t able to see how our everyday actions impact the environment. Consider designing contextual cues that help remind the audience of how their actions directly affect the environmental issue at hand. For example, paper towel dispensers with an outline of South America on them help us to see that each additional piece of paper grabbed contributes to deforestation in the Amazon.
              </p>
              <h3>Focus on immediate impacts</h3>
              <p>
                When discussing the environment, emphasize the most immediate impacts, rather than consequences that will occur in the distant future or the likelihood of the event occurring. This will help to counteract our human tendencies to undervalue faraway events and misinterpret probabilities and make the issue more salient in the minds of our audiences.
              </p>
              <h3>Elevate the desirable choice</h3>
              <p>
                The way choices are presented shapes the way our audiences interact with them and their ultimate preferences. List the most desirable choice at the beginning of written materials, and place less desirable choices elsewhere. List the most important choices first and last in a set of choices to increase recall rates.
              </p>
              <h3>Make the message memorable</h3>
              <p>
                Despite our best intentions, we often lose sight of environmental objectives. Give the audience repeated exposure to the message and related imagery to improve recall and prime them to think further about our issues.
              </p>
              <h3>Callout: Timing matters</h3>
              <p>
                Time the message to correspond with relevant occurrences, as environmental messages may be more salient in our minds at these times. For example, consider highlighting the message following an extreme environmental event or an unplanned disturbance such as a rise in gas prices. Conversely, wait until events that are incongruent with your environmental aim have passed to begin a campaign – the audience might have trouble conserving water to mitigate a drought in the middle of a storm.g
              </p>
            </div>
            <div id="Identity" class="tab-pane fade client-color">
              <h2 class="client-text-color">Encourage consistent IDENTITY</h2>
              <p>
                <strong>Key point:</strong> We care about our identity and how others perceive us. Therefore, we are intrinsically motivated to match our beliefs to our behaviors, and will exert effort to do so.
              </p>
              <h3>Tap into the audience’s ideal self</h3>
              <p>
                Present information in a way that stimulates the audience’s inherent desire for a consistent and positive self-image. By using active language that emphasizes essential and favorable components of our target group’s identity, we can motivate them to act in order to protect their self image. For example, people are more motivated by the question “how important is it for you to be a voter in the upcoming election” than they are by “how important is it for you to vote in the upcoming election.”
              </p>
              <h3>Affirm and validate</h3>
              <p>
                We generally seek support for our beliefs rather than evidence that our beliefs are incorrect, and may even interpret new evidence incorrectly so that it supports our perspective. Make sure to acknowledge all perspectives to help the audience process evidence accurately. If our goal is to change the audience’s travel behavior, we can help them feel affirmed by focusing first on acknowledging the benefits associated with fossil fuel use, or validate the reason they doubt the importance of this environmental action before launching a discussion of our side.
              </p>
              <h3>Ask for a commitment</h3>
              <p>
                We don’t like to be perceived of as someone who backtracks on previously made commitments, so commitments are powerful drivers to boost follow-through. Design commitments to be specific, public, active, and social. Ask the audience to strengthen their commitment with a specific goal. For example, “I pledge to reduce my household energy consumption by 15% this year.”
              </p>
              <h3>Use “implementation Intentions”</h3>
              <p>
                Help the audience face the unforeseen barriers associated with carrying out their commitments, goals or “intentions’ by asking them to design a specific roadmap to carry out their plan. For example, someone with the goal of separating their trash into compost and recycling may become blocked by all the necessary steps; their roadmap might include setting intentions around buying separate receptacles and printing out pictures of allowable items.
              </p>
              <h3>Ask the audience to make a time investment</h3>
              <p>
                When we spend time on a particular activity, we are more likely to feel committed to investing more time on it in the future. In order to gain the audience’s involvement in our efforts, ask for a smaller request first. In order to increase their commitment, include the audience in some aspect of the effort. For example, an energy organization might ask clients to participate in their home energy audit by walking through their house with the auditor to more fully engage them in making changes in their home.
              </p>
              <h3>Elicit cognitive dissonance</h3>
              <p>
                When we experience cognitive dissonance, we either alter our beliefs to match our actions or alter our actions to match our beliefs. When soliciting commitments, remind the audience of their previously held values before prompting them to act on our environmental effort and be sure to present the appropriate action immediately after inducing cognitive dissonance.
              </p>
            </div>
            <div id="Ordinary" class="tab-pane fade client-color">
              <h2 class="client-text-color">Demonstrate what is ORDINARY</h2>
              <p>
                <strong>Key point:</strong> As busy individuals making thousands of choices a day, we save time by modeling our choices off of the values, expectations, and practices of our community, neighbors, and friends. What is normal, or ordinary, is a powerful driver of human behavior.
              </p>
              <h3>Provide positive social proof</h3>
              <p>
                When we as practitioners highlight the prevalence of an undesirable behavior, we provide our target group with negative social proof. Rather than highlighting how often our target group performs the wrong behavior, we should always focus on showing that most people perform the right behavior. Demonstrate in specific terms what the audience’s particular reference group is doing – for example, tell them that 80% of individuals in their office building recycle scrap paper.
              </p>
              <h3>Call attention to society’s expectations</h3>
              <p>
                When our behavior is better than the prevailing social norm, exposure to descriptive messages may cause us to adjust our behavior toward less environmentally friendly outcomes. To combat this tendency to regress to the mean, offer environmentally friendly actors general messages about what is expected, or combine descriptions with inferences to societally acceptable behavior. For example, a smiley face on our energy bill encourages us to continue our pro-environmental behavior by signaling are doing a good job upholding the desired behavior.
              </p>
              <h3>Socially model the desired behavior</h3>
              <p>
                When we aren’t sure how to act, we often take cues from others. If we don't perceive a specific action as a social norm, we will be less likely to act in accordance with it. Embolden community members to model the correct behavior in order to turn it into a social norm, or provide the target audience with public outlets to observe the correct behavior to reinforce the norm and jumpstart the behavior.
              </p>
              <h3>Contextually model the desired behavior</h3>
              <p>
                Not only do others help us to decipher correct actions, but so does our surrounding context. Be sure to design the context to reflect the desired behavior. For example, an area that is trash free signals that littering is not performed by most people, and therefore socially unacceptable.
              </p>
              <h3>Strengthen the norm through social networks</h3>
              <p>
                Social networks help to spread, sustain, and build identity around certain behaviors, so as practitioners we should seek out networks to accelerate the social diffusion of our message. Optimization techniques include using online platforms such as Facebook, asking those committed to a certain behavior to tell their friends, family, and neighbors about it, and showcasing the names of environmentally friendly actors within groups.
              </p>
              <h3>Callout: timing matters</h3>
              <p>
                Social norms are time sensitive—consider eliciting the social norm right when the targeted behavior is projected to occur. This way, our attention will be centered around the norm, and our focus will lead us to act in harmony with it.
              </p>
            </div>
            <div id="Relatable" class="tab-pane fade client-color">
              <h2 class="client-text-color">Craft it to be RELATABLE</h2>
              <p>
                <strong>Key point:</strong> We care about things more when they relate to our own lives—this tendency affects our capacity to conceptualize large numbers or plan for the future.  By aligning our message with what our audience cares about, we can reduce the gap between the individual and the environmental problem, and better engage our audiences to act.
              </p>
              <h3>Relate it to what the audience already cares about</h3>
              <p>
                Because we often seek out information that supports our preexisting beliefs, a great strategy to increase personal meaning is to draw on themes that support what the audience already cares about. Construct messages that connect our causes to the priorities and interests of our target group. For example, if the audience is most concerned with issues of public health, highlight the detrimental effects of pollution on the body.
              </p>
              <h3>Link it to personal experience</h3>
              <p>
                Increase the significance of the environmental problem by linking it to the audience’s personal experience. This might involve connecting our effort to an event experienced by the audience or encouraging them to imagine how they might react in certain situations related to the issue.
              </p>
              <h3>Connect at a local level</h3>
              <p>
                Show how the environmental issue directly relates to the places and people our audiences care about. Try to reframe challenges and their solutions as local undertakings to evoke a sense of local pride and immediate responsibility.
              </p>
              <h3>Single out audience members</h3>
              <p>
                We are more likely to complete a task when we feel personally called upon, recognized or special. By directly addressing members of our audience or a group to which our audience belongs, we can increase the rate of follow-through.
              </p>
              <h3>The messenger matters</h3>
              <p>
                Choose an appropriate person to deliver the message to ensure that it is well received. This person should be a well-respected or trusted leader in the audience’s community – someone they are already inclined to listen to.
              </p>
              <h3>Foster empathy</h3>
              <p>
                Encourage an empathetic reaction in the audience by offering them storied accounts of those affected by the environmental problem. Pinpoint a certain person, animal, or place in order to demonstrate the effect of the wider phenomenon on a tangible living being.
              </p>
              <h3>Callout: The importance of storytelling</h3>
              <p>
                Personal narratives and story-telling are common ways to elicit an emotional response or encourage our audience members to walk in the shoes of an individual affected by our cause.
              </p>
            </div>
            <div id="Awareness" class="tab-pane fade client-color">
              <h2 class="client-text-color">Foster AWARENESS</h2>
              <p>
                <strong>Key point:</strong> We often move through the day on auto-pilot, and sometimes our environmental principles are compromised by thoughtless actions. Mindful awareness offers us the power to make consciousdecisions in line with our environmental goals. By learning to practice awareness and impart our wisdom onto our audiences, we can foster and sustain behavior change.
              </p>
              <h3>Learn to practice mindfulness yourself</h3>
              <p>
                When we cultivate awareness in ourselves, we are able to more thoughtfully develop behavioral programs and interventions. Start with simple mindfulness exercises designed to draw our attention inward.
              </p>
              <h3>Teach simple mindfulness practices</h3>
              <p>
                Once we have learned to practice mindfulness ourselves, we can extend the exercise to our audiences in order to connect them more deeply to the needs of the environment. Mindfulness practices are strengthened in community, where we can benefit from the support of those around us and the wisdom of an experienced teacher.
              </p>
              <h3>Notice cognitive biases and practice thinking flexibly</h3>
              <p>
                Mindful awareness gives us enough distance from our thoughts to observe how our behavior is influenced by cognitive biases. When we are aware of our cognitive biases, we are less likely to mindlessly follow them. For example, if our target audience is made aware that after installing CFL and LED lights, moral licensing may cause them to become more likely to leave the lights on, they will be able to choose alternate behavioral paths.
              </p>
              <h3>Use values to guide awareness</h3>
              <p>
                With expanded awareness, we can consciously choose to act in line with our values. Use mindfulness to identify our core values and let our mindfulness practice guide us toward them.
              </p>
              <h3>Elicit awareness at the moment of choice</h3>
              <p>
                We can use well-timed and appropriately placed prompts to nudge the audience to follow through on their intentions. Prompts can make the audience aware of the environmental issue at the point of action. For examples, stickers with the message “these come from trees” cause us to think twice about our paper consumption at the moment we need to dry our hands.
              </p>
              <h3>Use mindfulness to connect compassionately with an "other”</h3>
              <p>
                Mindful awareness can help us to generate a more cooperative bond to things beyond ourselves: the natural world and other people. Through mindful practice, we can develop a sense of interconnectedness between our environment and ourselves, and begin to form beliefs about others based on shared values rather than assumptions.
              </p>
              <h3>Create opportunities for the audience to connect with nature</h3>
              <p>
                People struggle to care about something they have not experienced. It is therefore important to expose our target audience to nature. By asking our audience to extend their awareness to the natural spaces surrounding them, we can draw the importance of our environmental issue back to its core.
              </p>
            </div>
            <div id="Lasting" class="tab-pane fade client-color">
              <h2 class="client-text-color">Construct it to be LASTING</h2>
              <p>
                <strong>Key point:</strong> Although many one-time behavioral interventions can reap lasting benefits to the environment, environmental advocates can also support long-term behavioral change by helping our audiences build habits surrounding environmentally friendly actions.
              </p>
              <h3>Start with a tiny behavior</h3>
              <p>
                Forming new habits involves forging new neural pathways and combatting our tendency to resist effort. Rather than starting with a massive undertaking, try focusing in on frequent but small habits associated with the desired behavioral outcome.
              </p>
              <h3>Capitalize on moments of change</h3>
              <p>
                Many of the life transitions we experience disrupt our established habits and behavioral patterns. During these periods, we’re open to change because we’re already in a period of behavioral transition or we are forced to adapt to our new circumstances. Any type of transition, from moving to a new city, to starting a new job, can create an opening for new habits to form in a new environment.
              </p>
              <h3>Bundle actions with cues and temptations</h3>
              <p>
                Create opportunities to practice new environmental habits by tying the desired action to preexisting behaviors and cues. Couple routine behaviors like turning off the lights with turning off computers and monitors, or cues like the jangling of keys with environmental actions like filling reusable water bottles. Make the habit more attractive by pairing a new behavior, like taking public transit, with a behavior the audience already wishes they had more time for, like reading novels, in order to ease the burden of discomfort associated with learning new behaviors.
              </p>
              <h3>Temporarily reward habit forming behaviors</h3>
              <p>
                Short lived rewards can help to satisfy our need for positive reinforcement while establishing the appropriate neuro-pathways in the brain which lead to fully formed, unconscious habits. Try temporary incentives until habits are formed. For example, to help the audience establish a new transportation regime, offer them a free three-month bus pass.
              </p>
              <h3>Repeat interventions until habits are formed</h3>
              <p>
                Environmentalists often interface with their audience once and then move on to new users. Consider applying limited resources to work with the audience numerous times, to better ensure that new behaviors stick.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('#sidebar-nav').affix({
      offset: {
        top: function() {
          console.log("Top Offset Location:" + ($('#header-row').offset().top + $('#header-row').outerHeight(true) - 170).toString());
          return ($('#header-row').offset().top + $('#header-row').outerHeight(true) - 170);
        },
        // bottom offset tracks values based on difference from bottom of hte screen
        // position: absolute fixes sidebar acting weird when you scroll back up
        bottom: function() {
          console.log( "Bottom Offset Location:" + (($("#main-footer").outerHeight(true) + 75).toString()) );
          return (this.bottom = ($("#main-footer").outerHeight(true) + 75));
        }
      }
    })
    $('#sidebar-nav a').click(function(){
      $('#sidebar-nav').affix('checkPosition');
    })
  });
</script>
