.row{
  padding-bottom: 50px;
}
.careers-image {
  width: 151px;
  height: 152px;
}
.careers-links {
  color:#000000;
  font-size: 20px;
}
.careers-text {
  text-align: justify;
}
#careers-design-chevron {
  background: #ffffff; 
  -webkit-clip-path: polygon(50% 80%, 100% 0, 100% 100%, 0 100%, 0 0);
  margin: -115px 0px 0px 0px;
  padding: 60px 0px 60px 100px; 
  background-color: none;
}