a {
    color: black;
    text-decoration: underline;
}
a:hover {
    color: black;
}

a:active {
    color: black;
}

.btn-primary {
  background-color: #4CAF50;
  border: none;
  font-size: 20px;
  color: white;
}
.btn-primary:hover {
background-color:#FFDFA3;  }