.learn-links {
    color: green;
    text-decoration: underline;
}

.learn-btn-primary {
  background-color: #4CAF50;
  padding-bottom:10px; 
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  border-radius: 10px;
  font-size: 20px;
  color: white;

}
.learn-btn-primary:hover {
  background-color:#FFDFA3;  
}