/*Work_with_Us page styling*/
.work-with-us-quote {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /*border: 1px solid $green5;*/
  font-style: italic;
  text-align: center;
  color: white;
  font-size: 20px;
  text-align: justify;
}
.work-with-us-link{
  font-size: 15px;
  color: $green5;
  font-style: italic;
}
.wwu-white-space {
  font-size: 15px;
  /*height: 600px;*/
  background: #ffffff;
  padding: 100px 100px 100px 100px;  
}
.wwu-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: $green5;
}
.wwu-form {
  font-size: 15px;
  align: center;
  /*font-family: Comic Sans MS;*/
}
.wwu-heading {
  text-align: center;
  padding-bottom: 15px;
  /*font-family: Comic Sans MS;*/
}
.wwu-btn {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 470px;
}

#wwu-parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url( <%= image_path 'baobab.jpg' %>); /* add image of choice */
  height: 400px;
  text-align: center;
}

.wwu-chevron {
  background: #ffffff; 
  -webkit-clip-path: polygon(50% 80%, 100% 0, 100% 100%, 0 100%, 0 0);
  margin: -115px 0px 0px 0px;
  padding: 60px 0px 60px 100px; 
  background-color: white;
}
.wwu-errors {
  font-size: 13px;
  color: red;
  display: inline;
}
/*--------------------------------------------------------------------------------*/